<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Connexion</h1>
    <a href="/logout">Logout</a>
    <form action="/login" method="post">
        <p>enter username</p>
        <input type="text" name="user" required />
        <p>enter password</p>
        <input type="password" name="pass" required />
        <button type="submit">Send</button>
    </form>
</body>
</html>